<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SampleAppSetup" Language="1033" Version="1.0.0.0" Manufacturer="SwinburneStudent" UpgradeCode="40E78D74-B197-4972-BF7D-B7412D66EE2F">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MediaTemplate EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SampleApp" />
			</Directory>
		</Directory>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="40E78D74-B197-4972-BF7D-B7412D66EE2F">
				<File Id="SampleAppEXE" Source="$(var.SampleApp.TargetPath)" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Feature Id="ProductFeature" Title="SampleAppSetup" Level="1">
			<ComponentRef Id="MainExecutable" />
		</Feature>
	</Product>
</Wix>
